
.idea/

cmake-build-debug/

tmp/

bin/KHI-LBM

bin/tmp_RB/

bin/tmp_cyl/

bin/tmp_KHI/

build/

Framework/OpenFOAM/.gitlab/

Framework/OpenFOAM/src/

Framework/OpenFOAM/applications/

Framework/OpenFOAM/bin/

Framework/OpenFOAM/doc/

Framework/OpenFOAM/etc/

Framework/OpenFOAM/META-INFO/

Framework/OpenFOAM/modules/

Framework/OpenFOAM/tutorials/

Framework/OpenFOAM/wmake/

Framework/OpenFOAM/.gitignore

Framework/OpenFOAM/.gitmodules

Framework/OpenFOAM/Allwmake

Framework/OpenFOAM/COPYING
